body {
    .ui-growl {
        top:30%;

        > .ui-growl-item-container {
            width: 280px;
            margin: 0;
            margin-bottom: 20px;

            .ui-growl-item { 
                padding: 0;
                height: 100%;
                .ui-growl-image {
                    float: left;
                    border-radius: 50%;
                    width: 18px;
                    height: 18px;
                    margin-left: 16px;
                    line-height: 18px!important;
                    margin-top: 16px;
                    top: 0;
                    left: 0;
                    &:before {
                        font-size: 20px!important;
                        margin-left: -3px;
                    }

                    &.fa-info-circle {
                        @include material-icon('info');
                    }
                    
                    &.fa-exclamation-circle {
                        @include material-icon('report');
                    }
                    
                    &.fa-close {
                        @include material-icon('remove_circle');
                    }
                    
                    &.fa-check {
                        @include material-icon('check_circle');
                    }   
                }

                .ui-growl-icon-close {
                    float: right;
                    width: 20px;
                    height: 12px;
                    line-height: 12px;
                    border-radius: 1.2px;
                    margin-left: 0;
                    margin-top: 12px;
                    margin-right: 12px;
                    top: 0;
                    right: 0;
                }

                .ui-growl-message {
                    margin: 0 27px 0 35px;
                    overflow: hidden;
                    height: 100%;
                    .ui-growl-title {
                        display: block;
                        padding: 0;
                        line-height: 22px;
                        margin-top: 15px;
                        padding-left: 4px;
                        font-size: 14px;
                        font-weight: bold;
                        color: #333;
                    }

                    > p {
                        display: block;
                        font-size: 14px;
                        color: #666;
                        line-height: 22px;
                    }
                }
            }

            &.ui-growl-message-error {
                background-color: #FFF1F0;
                border-color: #FFA39E;
                width: 280px;
            }

            &.ui-growl-message-info {
                background-color: #F2F8FF;
                border-color: #1989FA;
                width: 280px;
            }

            &.ui-growl-message-warn {
                background-color: #FFFBE6;
                border-color: #FFE58F;
                width: 280px;
            }

            &.ui-growl-message-success {
                background-color: #F6FFED;
                border-color: #B7EB8F;
                width: 280px;
            }
        }
    }
}
