::v-deep .ui-blockui {
  background-color: rgba(14, 14, 14, 0.5);
}
.loading-div {
  background: url("./../../../../../assets/attachments/images/img/loading.gif") center center no-repeat;
  height: 100%;
  width: 100%;
}
