<div class="box">
  <div class="content">
    <div class="top-table">
      <p-panel [toggleable]="true">
        <p-header>
          <span class="ui-panel-title">p-header：</span>
        </p-header>
        <div class="table-main">
          <div class="tab-main-row tab-content-row">
            <div>
              <span appValidation></span>label：
              <input pInputText>
            </div>
            <div>
              <span appValidation></span>label：
              <input pInputText>
            </div>
            <div>
              <span appValidation></span>label：
              <input pInputText>
            </div>
          </div>
          <div class="tab-main-row tab-content-row">
            <div>
              <span appValidation></span>label：
              <input pInputText>
            </div>
            <div>
              <span appValidation></span>label：
              <input pInputText>
            </div>
            <div>
              <span appValidation></span>label：
              <input pInputText>
            </div>
          </div>
        </div>
        <div class="fun-button">
          <div>
            <button class=" weaken weaken-query">button</button>
          </div>
        </div>
      </p-panel>
    </div>

    <br>
    <br>

    <div class="top-table">
      <p-panel [toggleable]="true">
        <p-header>
          <span class="ui-panel-title">p-header：</span>
        </p-header>
        <div class="table-main">
          <div class="tab-main-row">
            <div>
              <span appValidation></span>label：
              <input pInputText>
            </div>
            <div>
              <span appValidation></span>label：
              <input pInputText>
            </div>
          </div>
          <div class="tab-main-row">
            <div>
              <span appValidation></span>label：
              <input pInputText>
            </div>
            <div>
              <span appValidation></span>label：
              <input pInputText>
            </div>
          </div>
        </div>
        <div class="fun-button">
          <div>
            <button class=" weaken weaken-query">button</button>
          </div>
        </div>
      </p-panel>
    </div>
  </div>

  <div class="botton-table">
    botton-table
  </div>
</div>


<!-- <p-dialog [visible]="true" modal="modal" [width]="1200" [height]="800" [header]="'p-dialog'"> -->
<div class="dialog-containe">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row edit-row">
      <div class="ui-grid-col-6">
        <div class="ui-grid-col-4 edit-text">
          <span>label:</span>
        </div>
        <div class="ui-grid-col-6 edit-context">
          <input pInputText>
        </div>
      </div>
      <div class="ui-grid-col-6">
        <div class="ui-grid-col-4 edit-text">
          <span>label:</span>
        </div>
        <div class="ui-grid-col-6 edit-context">
          <input pInputText>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- </p-dialog> -->
