<div class="layout-wrapper" [ngClass]="{'layout-wrapper-menu-active':sidebarActive, 'layout-wrapper-skin-active':skinListActive}" style="background-color: rgb(69, 138, 138);">

  <div class="btn-row" style="display: inline-block;position: fixed;right: 0;top: 0;padding: 20px;">
    <button (click)="loginOut()">登出</button>
  </div>
  <div class="layout-sidebar" style="background-color: rgb(127, 182, 182);">侧边</div>
  <div class="layout-main" style="background-color: rgb(98, 168, 168);">
    <div class="layout-main-content">
      <div class="ui-g-1 ui-md-11 ui-g-nopad layout-wrapper" style="width: 100%;padding: 0px;margin: 0px;">
        <div class="ui-g-12 nav-bar" id="topbar-menu-div" style="background-color: rgb(143, 224, 224);">
          <div class="nav-move">
            <p-menubar [model]="items" (toggle)="toggle($event)" [expanded]="true">
              <ng-template pTemplate="date" let-item="rowData">
                <a [routerLink]="[item.routerLink]">{{item.label}}</a>
              </ng-template>
            </p-menubar>
          </div>
        </div>
        <div class="ui-g-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
