<div class="main-login">
  <div class="login-title"></div>
  <div class="main-content">
    <div class="main-login-warp" (keyup.enter)="pressEnter($event)">
      <div class="main-login-title">
        <h4 class="title-text">公司业务综合管理平台</h4>
      </div>
      <div [ngClass]="{'login-row': true, 'msg-show': !!errorMsgs.length || !!successMsg.length}">
        <div class="input-group">
          <span class="fa ui-icon-person"></span>
          <input type="text" [(ngModel)]="userInfo.userLoginId" placeholder="员工号" autocomplete="off">
        </div>
        <div class="msg error" *ngFor="let msg of errorMsgs">{{msg}}</div>
        <div class="msg success" *ngFor="let msg of successMsg">{{msg}}</div>
      </div>
      <div class="login-row">
        <div class="input-group">
          <span class="fa ui-icon-lock-open"></span>
          <input type="password" [(ngModel)]="userInfo.password" placeholder="密码" autocomplete="off">
        </div>
      </div>
      <div class="login-row">
        <div class="input-group group-left">
          <span [ngClass]="{'fa': true, 'ui-icon-email': !verifySuccess, 'ui-icon-lock right': verifySuccess}"></span>
          <input type="text" [(ngModel)]="userInfo.verifyCode" placeholder="验证码" autocomplete="off" (keyup)="verifyCodeKeyup()"
            [readonly]="verifySuccess">
        </div>
        <div *ngIf="!verifySuccess" class="verify-code" (click)="queryVerifyCode()">
          <div *ngIf="verifyCode" class="contain">
            <img class="code_img" [src]="verifyCodeImgData">
          </div>
          <div *ngIf="!verifyCode" class="btn">获取验证码</div>
        </div>
      </div>
      <div class="btn-row">
        <button type="button" (click)="login()">登录</button>
      </div>
    </div>
  </div>
</div>
